.background{
  background-color: #F96901
}
.temp{
  margin-bottom: 1px
}

.updated{
  margin-bottom: 1px
}

.weather{
  background-color: lightgrey;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 30px
}

.conditions{
  margin-top: 1px;
  margin-bottom: 1px
}

.nav{
  padding: 10px 30px;
  background-color: #1C1C1C;
  color: #F96901
}

.profile{
  background-color: #F96901;
  padding: 10px 30px
}

.header{
  padding: 10px 30px;
  text-align: center
}

.profileText{
  color: #1C1C1C
}